
#login_box{
     margin-left: 20px;                       
     margin-right: 20px;                      
     margin-top: 20px; 
     margin-bottom: 20px;
}
#login_label{

}
#query_box{
     margin-left: 10px;                       
     margin-right: 10px;                      
     margin-top: 10px; 
     margin-bottom: 10px;
}
/* Estilo del TreeView */

#treeview header {
    backgroud-color: #0049C2;
    color: #EDD11F;
}

#treeview row:nth-child(even) {
    background-color: #0074D9; /*Azul claro*/
    color: black;
}

#treeview row:nth-child(odd) {
    background-color: #001f3f; /*Azul marino*/
    color: black;
}



/* Estilo de etiquetas de bienvenida/login */
#welcome_label {
    font-weight: bold;
    font-size: 16px;
    color: #0074D9;
}

